<% layout('layouts/inner-page') %>

<section id="appointment" class="appointment section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Create a new Patient</h2>
         </div>

      <form action="/new" method="post" role="form" class="validated-form" >
        <div class="row">
          <div class="col-md-4 form-group">
            <input type="text" name="username" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
           
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required>
            
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="password" class="form-control" name="password" id="password" placeholder="Passwrd" required>
            
          </div>

        </div>
          <br>
        <br>
        <div class="text-center"><button class="btn btn-success">create</button></div>
      </form>

    </div>
  </section><!-- End Appointment Section -->