<% layout('layouts/inner-page') %>

<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eos praesentium facere, illo dolorem eaque harum atque omnis eligendi blanditiis ipsa? Id qui provident esse harum adipisci, molestiae nisi odio.</h1>
<% for( let index = 0; index < 4; index++ ) { %>
    <h1><%= data[index] %></h1>
<% } %>