<% layout('layouts/inner-page') %>

<!-- ======= Doctors Section ======= -->
<section id="doctors" class="doctors">
  <div class="container">
    <div class="section-title">
      <h2>Team</h2>
      <p>We are Group 7, feel free to contact on any social platform. We are eager to answer your queries.</p>
    </div>

    <div class="row">
      <!-- Member 1 -->
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="assets/img/doctors/ziegler.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Arya M. Pathak</h4>
            <span>Backend Lead</span>
            <p>WASM is AWSM</p>
            <div class="social">
              <a href="https://github.com/arya2004"><i class="ri-github-fill"></i></a>
              <a href=""><i class="ri-linkedin-box-fill"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Member 2 -->
      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Aarushi P. Pathak</h4>
            <span>Embedded Lead</span>
            <p>espoir</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""><i class="ri-linkedin-box-fill"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Member 3 -->
      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Pranav K. Patel</h4>
            <span>AI/ML Lead</span>
            <p>..</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""><i class="ri-linkedin-box-fill"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Member 4 -->
      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Revati B. Pathak</h4>
            <span>Hardware Lead</span>
            <p>because in the end we're all just dreamers in an endless universe.</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""><i class="ri-linkedin-box-fill"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Member 5 -->
      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Rukmoddin N. Patel</h4>
            <span>Frontend Lead</span>
            <p>Introvert VITian</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""><i class="ri-linkedin-box-fill"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Member 6 -->
      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="assets/img/doctors/ameya.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Ameya R. Pathka</h4>
            <span>UI/UX Lead</span>
            <p>जय श्री राम</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""><i class="ri-linkedin-box-fill"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Add more members if needed -->

    </div>
  </div>
</section><!-- End Doctors Section -->
